{:+ {:editor.otl {"shift-enter" [:sacha.toggle-fold]
                  "shift-tab" [:sacha.unindent-node]
                  "cmd-j" [:sacha.jump-to-next-sibling]
                  "cmd-k" [:sacha.jump-to-previous-sibling]
                  "alt-j" [:sacha.move-branch-below-next-sibling]
                  "alt-k" [:sacha.move-branch-above-previous-sibling]
                  "alt-h" [:sacha.unindent-branch]
                  "alt-l" [:sacha.indent-branch]
                  "cmd-u" [:sacha.jump-to-parent]
                  "cmd-shift-u" [:sacha.jump-to-parent :sacha.toggle-fold] ; fold parent
                  "cmd-." [:sacha.select-branch]
                  "cmd-a" [:sacha.unfold-all]
                  "cmd-x" [:sacha.fold-all]
                  "alt-a" [:sacha.unfold-all-for-branch]
                  "alt-x" [:sacha.fold-all-for-branch]
                  "alt-o" [:sacha.unfold-branch-one-level]
                  "alt-p" [:sacha.fold-branch-one-level]
                  "alt-1" [:sacha.fold-level-1]
                  "alt-2" [:sacha.fold-level-2]
                  "alt-3" [:sacha.fold-level-3]
                  "alt-4" [:sacha.fold-level-4]
                  "alt-5" [:sacha.fold-level-5]
                  "alt-6" [:sacha.fold-level-6]
                  "alt-7" [:sacha.fold-level-7]
                  "alt-8" [:sacha.fold-level-8]
                  "alt-9" [:sacha.fold-level-9]}}}
