{:+ {:editor.otl {"shift-enter" [:sacha.indent-fold]
                  "shift-tab" [:sacha.outdent]
                  "cmd-j" [:sacha.jump-forward-on-same-level]
                  "cmd-k" [:sacha.jump-backward-on-same-level]
                  "alt-j" [:sacha.move-current-tree-down]
                  "alt-k" [:sacha.move-current-tree-up]
                  "alt-h" [:sacha.unindent-selection]
                  "alt-l" [:sacha.indent-selection]
                  "cmd-u" [:sacha.jump-to-parent]
                  "cmd-shift-u" [:sacha.jump-to-parent :sacha.indent-fold] ; fold parent
                  "cmd-." [:sacha.select-current-tree]
                  "cmd-a" [:sacha.unfold-all]
                  "cmd-x" [:sacha.fold-all]
                  "alt-a" [:sacha.unfold-all-for-current-tree]
                  "alt-x" [:sacha.fold-all-for-current-tree]
                  "alt-o" [:sacha.unfold-one-level-for-current-tree]
                  "alt-p" [:sacha.fold-one-level-for-current-tree]
                  "alt-1" [:sacha.fold-level-1]
                  "alt-2" [:sacha.fold-level-2]
                  "alt-3" [:sacha.fold-level-3]
                  "alt-4" [:sacha.fold-level-4]
                  "alt-5" [:sacha.fold-level-5]
                  "alt-6" [:sacha.fold-level-6]
                  "alt-7" [:sacha.fold-level-7]
                  "alt-8" [:sacha.fold-level-8]
                  "alt-9" [:sacha.fold-level-9]}}}
